[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"
flask-restful = "*"
flask-migrate = "*"
flask-bcrypt = "*"
flask-marshmallow = "*"
faker = "*"
datetime = "*"
gunicorn = "*"
honcho = "*"
importlib-metadata = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
